* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

main {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
button {
    background-color: brown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
h1, h4 {
    text-align: center;
}